/* BookingForm.css */

.booking-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-form-card {
  background-color: #ffffff;
  /* background-color: red; */
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  width: 50vw;
}

.booking-form-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.booking-form-fields {
  margin-bottom: 20px;
}

.booking-form-field {
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.booking-form-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.booking-form-field input,
.booking-form-field select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: #ff0000;
  margin-top: 10px;
  text-align: center;
}

.booking-form-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center the buttons */
}

.book-button,
.back-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 20px 20px;
}

.book-button {
  background-color: #4caf50;
  color: white;
}

.book-button:hover {
  background-color: #45a049;
}

.back-button {
  background-color: #ccc;
  color: #333; /* Adjusted text color */
}

.back-button:hover {
  background-color: #b0b0b0;
  color: white; /* Changed text color on hover */
}

.react-calendar {
  max-width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.react-calendar__tile--active {
  background-color: #4caf50;
  color: white;
}
