.home-container {
  display: flex;
  align-items: stretch;
  height: 100vh;
}

.left-sidebar {
  width: 250px;
  background-color: #343a40;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.left-sidebar .nav-item {
  margin-bottom: 15px;
}

.left-sidebar .nav-link {
  color: #f8f9fa;
  font-size: 1rem; /* Increase font size */
  transition: background-color 0.3s;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.left-sidebar .nav-link:hover {
  background-color: #5a6269;
}

.content {
  flex: 1;
  padding: 20px;
}
